.btn, .disable-false {
  min-width: var(--iconsize);
  min-height: var(--iconsize);
}
.btn, .disable-false, [class^="slider"] {
  cursor: pointer;
}
.btn:hover, .disable-false:hover {
  background: linear-gradient(var(--maincolor2) 50%, var(--maincolor1) 50%);
  background-size: 200% 200%;
  -webkit-animation: 1s ease 0s 1 normal forwards running FillAnime;
  -moz-animation: 1s ease 0s 1 normal forwards running FillAnime;
  animation: 1s ease 0s 1 normal forwards running FillAnime;
}
.disable-true {filter: opacity(0);}
.circle_btn {
  height: var(--iconsize);
  width: var(--iconsize);
}
[class^="slider"]{
  padding: 0 var(--iconsize) 0 0 !important;
  transform-origin: left;
  transform: scale(0.75);
}
[class^="slider"]:after {
  position: relative;
  bottom: 75%;
}
.slider-true {background: var(--maincolor3);}
.slider-false {background: var(--assistcolor);}
.slider-true:after {
  content: "on";
  left: 125%;
}
.slider-false:after {
  content: "off";
  left: 25%;
}

[class^="toggled"]{
  background: var(--bgcolor);
  border: none;
  transition-duration: 2s;
}
.toggled-true {transform: translateX(0);}
.toggled-false {transform: translateX(var(--iconsize));}