/*-- code genterate by https://www.gradient-animator.com/ --*/
@-webkit-keyframes GradientAnime {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}
@-moz-keyframes GradientAnime {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}
@keyframes GradientAnime {
  0%{background-position:28% 0%}
  50%{background-position:73% 100%}
  100%{background-position:28% 0%}
}

@-webkit-keyframes RotatingAnime {
  0%{
    border-color: var(--assistcolor) var(--maincolor2) var(--maincolor2) var(--assistcolor);
  }
  25%{
    border-color: var(--assistcolor) var(--assistcolor) var(--assistcolor) var(--maincolor3);
    transform: rotate(90deg);
  }
  50%{
    border-color: var(--maincolor1) var(--assistcolor) var(--assistcolor) var(--maincolor1);
    transform: rotate(180deg);
  }
  75%{
    border-color: var(--maincolor2) var(--maincolor3) var(--assistcolor) var(--assistcolor);
    transform: rotate(270deg);
  }
  100%{
    border-color: var(--maincolor1) var(--maincolor1) var(--assistcolor) var(--assistcolor);
    transform: rotate(360deg);
  }
}
@-moz-keyframes RotatingAnime {
  0%{
    border-color: var(--assistcolor) var(--maincolor2) var(--maincolor2) var(--assistcolor);
  }
  25%{
    border-color: var(--assistcolor) var(--assistcolor) var(--assistcolor) var(--maincolor3);
    transform: rotate(90deg);
  }
  50%{
    border-color: var(--maincolor1) var(--assistcolor) var(--assistcolor) var(--maincolor1);
    transform: rotate(180deg);
  }
  75%{
    border-color: var(--maincolor2) var(--maincolor3) var(--assistcolor) var(--assistcolor);
    transform: rotate(270deg);
  }
  100%{
    border-color: var(--maincolor1) var(--maincolor1) var(--assistcolor) var(--assistcolor);
    transform: rotate(360deg);
  }
}
@keyframes RotatingAnime {
  0%{
    border-color: var(--assistcolor) var(--maincolor2) var(--maincolor2) var(--assistcolor);
  }
  25%{
    border-color: var(--assistcolor) var(--assistcolor) var(--assistcolor) var(--maincolor3);
    transform: rotate(90deg);
  }
  50%{
    border-color: var(--maincolor1) var(--assistcolor) var(--assistcolor) var(--maincolor1);
    transform: rotate(180deg);
  }
  75%{
    border-color: var(--maincolor2) var(--maincolor3) var(--assistcolor) var(--assistcolor);
    transform: rotate(270deg);
  }
  100%{
    border-color: var(--maincolor1) var(--maincolor1) var(--assistcolor) var(--assistcolor);
    transform: rotate(360deg);
  }
}
.loading {
  background: linear-gradient(137deg, var(--maincolor1), var(--maincolor3), var(--maincolor2));
  background-size: 600% 600%;

  -webkit-animation: GradientAnime 3s ease infinite;
  -moz-animation: GradientAnime 3s ease infinite;
  animation: GradientAnime 3s ease infinite;
}

.rotating {
  width: 2rem;
  height: 2rem;
  border-width: 0.5rem;
  border-style: solid;
  border-radius: 100%;
  -webkit-animation: RotatingAnime 3s ease infinite;
  -moz-animation: RotatingAnime 3s ease infinite;
  animation: RotatingAnime 3s ease infinite;
}

.empty {background: var(--assistcolor);}